.dashboard-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #fff;
  gap: 20px;
}

.dashboard-page__card {
	background-color: #4a7dff;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 900px;
  max-height: 600px;
  overflow-y: auto;
}

.dashboard-page__card::-webkit-scrollbar {
	width: 0px;
}
.dashboard-page__card::-webkit-scrollbar-thumb {
	background-color: transparent;
}

.dashboard-page__card thead {
	position: sticky;
	top: 0;
	background-color: #003b62;
}

.dashboard-page__table {
	color: white;
	width: 100%;
	text-align: left;
	border-collapse: collapse;
}

.dashboard-page__table th {
	font-weight: normal;
	padding: 10px 15px;
}

.dashboard-page__table td {
	font-size: 20px;
	height: 70px;
	border-bottom: 1px solid white;
	border-top: 1px solid white;
	padding: 0px 15px;
}

.dashboard-page__table-edit-button {
	background-color: transparent;
	border: transparent;
}
.dashboard-page__table-delete-button {
	background-color: transparent;
	border: transparent;
}

.dashboard-page__table-button-icon {
	width: 60px;
	height: 60px;
}

.dashboard-page__button-group {
	display: flex;
  flex-direction: row;
  gap: 40px;
}

.dashboard-page__button {
  padding: 20px 40px;
  border: none;
  border-radius: 20px;
  font-size: 20px;
  cursor: pointer;
}

.dashboard-page__back-button {
  background-color: #000;
  color: #fff;
}

.dashboard-page__back-button:hover {
  background-color: #555555;
}

.dashboard-page__create-button {
  background-color: #003b62;
  color: #fff;
}

.dashboard-page__create-button:hover {
  background-color: #005080;
}

.dashboard-page__upload-button {
  background-color: #003b62;
  color: #fff;
}

.dashboard-page__upload-button:hover {
  background-color: #005080;
}