.page{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.container{
    background-color: #4a7dff;
    border-radius: 20px;
    overflow-y: auto;
    overflow-x: auto;

    width: 90vw;
    max-height: 50vh;
    margin: 10vh auto auto;
}

.container::-webkit-scrollbar {
    width: 0;
}

.container::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    width: 90%;
}